body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}
button {
    padding: 10px;
    color: green;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    background: #006aff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteBtn {
    background: red;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}