#element1 {
    width: 200px;
    height: 100px;
    background-color: rgb(9, 112, 0);
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}

#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}