body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#btn{
    position:fixed;
    top: 200px;
}
#btn button{
    margin: 10px;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #ff6a6a;
    color: #ff6a6a;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

#btn button:hover{
    border: 2px solid #ff6a6a;
    background: #ff6a6a;
    color: #fff;
    scale: 1.09;
}

.text{
    padding: 20px 20px;
    margin: 13px 17px;
    color: #fff;
    background-color: #ff6a6a;
}